# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List popular Data Science Tools

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>Julia</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
  <li>NumPy</li>
  <li>Pandas</li>
  <li>Matplotlib</li>
  <li>Scikit-learn</li>
</ol>

<table style="float:left;" >
    <tr>
        <th style="text-align: left;">Data Science Tools</th>
    </tr>
    <tr>
        <td style="text-align: left;">Apache Spark</td>
    </tr>
    <tr>
        <td style="text-align: left;">TensorFlow</td>
    </tr>
    <tr>
        <td style="text-align: left;">Apache Hadoop</td>
    </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Thomas John